/* =========================
   COLORS (array / list)
   ========================= */

@colors: red, blue, green, notacolor;


/* =========================
   COLOR LOOP
   ========================= */

.color-loop(@i) when (@i <= length(@colors)) {

  @current-color: extract(@colors, @i);

  .text-@{i} {
    color: if(iscolor(@current-color), @current-color, black);
  }

  .bg-@{i} {
    background-color: if(iscolor(@current-color), @current-color, white);
  }

  .color-loop(@i + 1);
}

.color-loop(1);


/* =========================
   SPACING LOOP
   ========================= */

.spacing-loop(@i) when (@i <= 5) {

  .m-@{i} {
    margin: (5px * @i);
  }

  .p-@{i} {
    padding: (5px * @i);
  }

  .spacing-loop(@i + 1);
}

.spacing-loop(1);

